* {
  margin: 0;
}

img {
  width: 300px;
  display: block;
  margin: 10px;
  border: 5px solid purple;
}

.img-2 {
  display: none;
}

.img-3 {
  visibility: hidden;
}

a {
  margin: 10px 20px;
  text-decoration: none;
  background: purple;
  color: white;
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  /* display: block; */
}
